/* google fonts */
  /* Lora | Roboto | Source Sans Pro | Montserrat */
    @import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@800&family=Roboto&family=Source+Sans+Pro&display=swap');

    /* font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */

* {
   box-sizing: border-box;
}

html {
  --primary-banner-color: #b1a08b;
  --main-bg-color: #e3e3e4;

  --primary-txt-color: #161413;
  --secondary-txt-color: #423636;
  --tertiary-txt-color:#754a47;
  --hover-txt-color: #fadbcc;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-color: var(--main-bg-color);
  width: 100%;
}

.center-container {
  text-align: center;
}

.no-txt-decor a {
  text-decoration: none;
  color: var(--secondary-txt-color);
  cursor: pointer;
}

.no-txt-decor a:hover {
  color: var(--tertiary-txt-color);
}

header {
  max-height: 100px;
  background-color: var(--primary-banner-color);
  color: var(--primary-txt-color);
  width: 100%;
  left: 0;
  top: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.font-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-robo {
  font-family: 'Roboto', sans-serif;
}

.font-mont {
  font-family: 'Montserrat', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

/* START navbar */  
nav {
  background-color: var(--primary-banner-color);
}

.nav-container {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;;
  /* position: fixed;
  z-index: 4; */
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.logo {
  max-height: 80px;
  width: 80px;
}

.logo img, .logo-font img {
  width: 100%;
}

.logo a, .logo-font a {
  cursor: pointer;
}

.logo-font {
  max-height: 150px;
  width: 150px;
}

.main-nav a {
  text-decoration: none;
  padding: 0px 12px;
  color: var(--secondary-txt-color);
  cursor: pointer;

  /* color:rgb(48, 48, 48, 0.7); */
}

.main-nav a:hover {
  color: var(--hover-txt-color);
}

.spacer {
  flex: 1;
  position: relative;
}

.comment .username a,
.username a
 {
  color: var(--tertiary-txt-color);
  text-decoration: none;
}

.comment .username a:hover {
  color: #a06a66;
}
/* END navbar */


/* START profile */

.profile {
  background-color: rgba(177, 160, 139, 0.75);
  max-width: 180px;
  min-height: 200px;
  padding: 24px;
  text-align: center;
}

.profile-info {
  background-color: rgba(177, 160, 139, 0.40);
  padding: 24px;
  width: 100%;
  min-height: 200px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
}

.profile-title {
  color: var(--primary-txt-color);
}

.rounded {
  border-radius: 12px;
}

.comment-container {
  background-color: rgba(177, 160, 139, 0.20);
  padding: 24px;
  width: 100%;
}

.comment-date {
  color: rgba(66, 54, 54, 0.4);

}

.user-comment {
  padding: 12px 0px;
  color: var(--primary-txt-color);
}

.avatar {
  width:100px;
  height:100px;
  margin: 0 auto;
}

.avatar > img {
  object-fit:cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
 color: var(--tertiary-txt-color);
}
/* END profile */